@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.main {
        margin: 0px auto;
        padding: 0px 0px 0px 0px;
        width: 1200px;
}


.w4-3 {
        padding-top: 70px;
}

.inner_txt {
        padding: 20px 0px 20px 0px;
}
 